table{
    border-collapse: collapse;
    width: 100%;
    font-family: "Lucida Console", "Lucida Sans Unicode", Tahoma, sans-serif;
}

td, th {
    border: 1px #dddddd solid;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #dddddd;
}



